<%= form_with(model: lead_source, local: true, class: "needs-validation") do |form| %>
  <% if lead_source.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lead_source.errors.count, "error") %> prohibited this lead_source from being saved:</h2>

      <ul>
        <% lead_source.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">

    <div class="form-group col-sm-12 col-md-8">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control", required: true %>
    </div>

    <div class="form-group col-sm-12 col-md-4">
      <%= form.label :source_key %>
      <%= form.text_field :source_key, class: "form-control", required: true %>
    </div>
  </div>

  <div class="row">
    <div class="actions py-3 col-md-12">
      <%= link_to "Cancelar", lead_sources_path, class: "btn btn-secondary" %>
      <%= form.submit "Guardar", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
