<div class="pdf-new-bg px-5">
  <div class="complementary-header float-right">
    <table style="width:100%">
        <tr>
            <td>
                <h1 class="no-letter-spacing text-bold">FICHA DE DEPÓSITO</h1>
            </td>
        </tr>
    </table>
  </div>
  <section class="payments-quotation px-5">
    <div class="table-content page-break-table mt-5">
        <table class="mt-5 mb-2" style="width:100%">
            <tr>
                <th>
                    <div class="bg-date text-center m-0 mt-3 pt-2 pb-1">
                        <p class="text-bold">DATOS PARA DEPÓSITO</p>
                    </div>
                </th>
            </tr>
        </table>

        <div class="container mb-5 pb-5">
            <div class="row">
            <div class="col-xs-6 right_col">
                <p class="new_format">Referencia de pago: </p>
            </div>
            <div class="col-xs-6 left_col">
                <p><%= @lot.reference %></p>
            </div>
            <div class="col-xs-6 right_col">
                <p class="new_format">Concepto: </p>
            </div>
            <div class="col-xs-6 left_col">
                Apartado de la unidad <%= @lot.name %> de <%= @stage.name %> de <%= @phase.name %> del desarrollo <%= @project.name %>
            </div>
            <div class="col-xs-6 right_col">
                <p class="new_format">Importe: </p>
            </div>
            <div class="col-xs-6 left_col">
                <p><%= number_to_currency(@folder.payment_scheme.initial_payment) %></p>
            </div>
            </div>
        </div>

        <% if @stage.enterprise.online_payment_services.stp.any? %>
          <table class="mt-5 mb-2" style="width:100%">
            <tr>
              <th>
                <div class="bg-date text-center m-0 mt-3 pt-2 pb-1">
                  <p class="text-bold">DATOS DE LA CUENTA</p>
                </div>
              </th>
            </tr>
          </table>
          <div class="payments-table pt-3">
            <table class="table general-info table-striped table-payments">
              <tbody>
                <tr>
                  <td class="gray-row w-33">Banco</td>
                  <td class="gray-row w-33">Titular</td>
                  <td class="gray-row w-33">CLABE</td>
                </tr>
                <tr>
                  <td class="gray-light-row text-dark text-bold">STP</td>
                  <td class="gray-light-row text-dark"><%= @stage.enterprise.business_name %></td>
                  <td class="gray-light-row text-dark"><%= @folder.stp_clabe %></td>
                </tr>
              </tbody>
            </table>
          </div>
        <% elsif @stage.enterprise.bank_accounts.count > 0 %>
          <table class="mt-5 mb-2" style="width:100%">
            <tr>
              <th>
                <div class="bg-date text-center m-0 mt-3 pt-2 pb-1">
                  <p class="text-bold">DATOS DE LA CUENTA</p>
                </div>
              </th>
            </tr>
          </table>
          <div class="payments-table pt-3">
            <table class="table general-info table-striped table-payments">
              <tbody>
                <tr>
                  <td class="gray-row w-25">Banco</td>
                  <td class="gray-row w-25">Titular</td>
                  <td class="gray-row w-25">Número de cuenta</td>
                  <td class="gray-row w-25">CLABE</td>
                </tr>
                <% @stage.enterprise.bank_accounts.each do |bank_account| %>
                  <tr>
                    <td class="gray-light-row text-dark text-bold"><%= bank_account.bank %></td>
                    <td class="gray-light-row text-dark"><%= bank_account.holder %></td>
                    <td class="gray-light-row text-dark"><%= bank_account.account_number %></td>
                    <td class="gray-light-row text-dark"><%= bank_account.clabe %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        <% end %>
    </div>
  </section>
</div>
