<%= form_with(model: identification_type, local: true) do |form| %>
  <% if identification_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(identification_type.errors.count, "error") %> no permitieron guardar esta identificación oficial:</h2>

      <ul>
        <% identification_type.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="form-group col-sm-12 col-md-6">
      <%= form.label :name, "Nombre", required: true %>
      <%= form.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group col-sm-12 col-md-6">
      <%= form.label :institution, "Institución Expedidora", required: true %>
      <%= form.text_field :institution, class: "form-control" %>
    </div>
        <div class="form-group col-sm-12 col-md-6">
      <%= form.label :display_as, "Desplegar en Promesa como:" %>
      <%= form.text_field :display_as, class: "form-control", required: true %>
    </div>
  </div>
  <div class="actions py-3">
    <%= link_to "Cancelar", payment_methods_path, class: "btn btn-secondary" %>
    <%= form.submit "Guardar", class: "btn btn-primary" %>
  </div>
<% end %>
