<div class="pdf-bg-image-all-pages account-status px-5">
  <div class="page-break table-content">
    <%= render "installments/account_status/general_information" %>
    <%= render "installments/account_status/cash_back" %>
    <%= render "installments/account_status/bank_information" %>
  </div>
  <%= render "installments/account_status/cash_flow" %>
  <%= render "installments/account_status/amortization_table" %>
</div>
