<% content_for :preview do %>
  Comprobante de cambio en tu estructura de pagos realizado en tu <%= @payment.installment.folder.project.lot_entity_name %> <%= @payment.installment.folder.lot.name %> de <%= @payment.installment.folder.project.name %>.
<% end %>

<%= render layout: "components/mailer_block" do %>
  <p style="text-align: center;">
    <span>
      Estimado <%= @payment.client.label %>:
    </span>
  </p>
  <div style="text-align: center;">
    <div>
      Se ha realizado un movimiento con restructura a tu <b>
      <%= @payment.installment.folder.project.lot_entity_name %> <%= @payment.installment.folder.lot.name %> de la <%= @stage_singular %> <%= @payment.installment.folder.stage.name %> de la <%= @phase_singular %> <%= @payment.installment.folder.phase.name %> del <%= @project_singular %> <%= @payment.installment.folder.project.name %></b>.
    </div>
  </div>
<% end %>

<%= render partial: "components/mailer_button", locals: { title: "Descarga tu estado de cuenta", url: download_account_status_url(@payment.installment.folder)} %>
