<%= render layout: "components/mailer_block" do %>
  <p style="text-align: center;">
    <span>
      ¡La transacción ha sido exitosa!
    </span>
  </p>
  <div style="text-align: center;">
    <div>
      <%= @project_singular %>: <b><%= @project.name %></b>
    </div>
    <div>
      <%= @phase_singular %>: <b><%= @phase.name %></b>
    </div>
    <div>
      <%= @stage_singular %>: <b><%= @stage.name %></b>
    </div>
    <div>
      <%= @lot_singular %>: <b><%= @lot.name %></b>
    </div>
    <div>
      Monto: <b><%= number_to_currency(@payment.amount) %></b>
    </div>
    <div>
      Fecha: <b><%= I18n.l(@cash_flow.date, format: "%l:%M %P %d/%b/%y") %></b>
    </div>
  </div>
<% end %>
