<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8">
      <h1 class="banner-title vertical-align p-0 m-0">Reporte de responsables</h1>
    </div>
    <div class="col-sm-12 col-md-4 flex-middle-right">
      <ol class="breadcrumb ol-projects">
        <li class="breadcrumb-item"><%= link_to "Reportes", reports_path %></li>
        <li class="breadcrumb-item active" aria-current="page">Responsables</li>
      </ol>
    </div>
  </div>
</div>
<div class="container">
  <hr class="divider">
</div>
<%= form_tag(folder_users_reports_path, method: :post, data: { controller: "export", 'target': "export.form", 'export-url': export_xlsx_folder_users_url(format: :json) }) do %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
  <div class="container py-3">
    <div class="row">
      <div class="col-md-6 col-lg-3 mb-3">
        <%= label_tag :role, "Buscar por rol:" %>
        <select id="role" name="role" class="form-control">
          <option value="">Todos</option>
          <% if can?(:read, Role) %>
            <optgroup label="CRM">
              <% @roles.each do |role| %>
                <% unless role.is_evo %>
                  <option <%= "selected" if params["role"].to_i == role.id %> value="<%= role.id %>"><%= role.name %> </option>
                <% end %>
              <% end %>
            </optgroup>
          <% end %>
          <% if is_evo_active? %>
            <optgroup label="<%= @evo_string %>">
              <% @roles.each do |role| %>
                <% if role.is_evo && can?(:"create_#{role.key}".to_sym, User) %>
                  <option data-type="evo" data-key="<%= role.key %>" <%= "selected" if params["role"].to_i == role.id %> value="<%= role.id %>"><%= role.name %></option>
                <% end %>
              <% end %>
            </optgroup>
          <% end %>
        </select>
      </div>
      <div class="col-md-6 col-lg-3 mb-3">
        <%= label_tag :folder, "Buscar por folio de expediente:" %>
        <%= number_field_tag :folder, params[:folder], class: "form-control" %>
      </div>
      <div class="col-md-6 col-lg-3 mb-3">
        <%= label_tag :project do %> Buscar por <span class="text-lowercase"><%= @project_singular %>: </span>
        <% end %>
        <%= select_tag :project, options_for_select(@projects.map { |project| [project.name, { "data-phases" => project.phases.select(:id, :name).to_json(include: { stages: { only: [:id, :name] } }) }, project.id] }, selected: params["project"].to_s), { class: "form-control", include_blank: ("Todos") } %>
      </div>
      <div class="col-md-6 col-lg-3 mb-3">
        <%= label_tag :phase do %> Buscar por <span class="text-lowercase"><%= @phase_singular %>: </span>
        <% end %>
        <%= select_tag :phase, options_for_select([["Todas", ""]]), class: "form-control input-white bg-input-disabled", disabled: true %>
      </div>
      <div class="col-md-6 col-lg-3 mb-3">
        <%= label_tag :stage do %> Buscar por <span class="text-lowercase"><%= @stage_singular %>: </span>
        <% end %>
        <%= select_tag :stage, options_for_select([["Todas", ""]]), class: "form-control input-white bg-input-disabled", disabled: true %>
      </div>
      <div class="col-md-6 col-lg-3 mb-3">
        <%= label_tag :lot_number, "Buscar por número de lote:" %>
        <%= number_field_tag :lot_number, params[:lot_number], class: "form-control" %>
      </div>
      <div class="col-md-6 col-lg-3 mb-3">
        <%= label_tag :lot_label, "Buscar por clasificador de lote:" %>
        <%= text_field_tag :lot_label, params[:lot_label], class: "form-control" %>
      </div>
      <div class="col-md-6 col-lg-3 mb-3">
        <%= label_tag :user_email, "Buscar por correo de usuario:" %>
        <%= text_field_tag :user_email, params[:user_email], class: "form-control" %>
      </div>
      <div class="col-md-6 col-lg-3 mb-3">
        <%= label_tag :user_name, "Buscar por nombre de usuario:" %>
        <%= text_field_tag :user_name, params[:user_name], class: "form-control" %>
      </div>
      <div class="col-md-6 col-lg-3 mb-3">
        <%= label_tag :concept, "Buscar por tipo:" %>
        <%= select_tag :concept, options_for_select(@folder_user_concepts.collect { |s| [s.name, s.id] }, params[:concept]),
          { include_blank: "Todos", class: "form-control" } %>
      </div>
      <div class="col-md-12 col-lg-12 text-right">
        <%= button_tag(type: "button", class: "btn btn-secondary", data: { action: "export#generate" }) do %>
          <i class="fa fa-file-text" aria-hidden="true"></i> Exportar
        <% end %>
      </div>
    </div>
  </div>
<% end %>
