<% if project.present? && project.background.attached? %>
  <% content_for :head do %>
    <style>
      .pdf-bg {
        background-image: url('<%= wicked_blob_path(project.background) %>');
      }
    </style>
  <% end %>
<% end %>

<div class="container pdf-bg">
  <% clients.each do |client| %>
    <div class="page-break">
      <% if client.physical? %>
        <%= render partial: "folders/files/singlepage_format/partials/purchase_promise_attached_physical_client", locals: { client: client } %>
      <% elsif client.moral? %>
        <%= render partial: "folders/files/singlepage_format/partials/purchase_promise_attached_moral_client", locals: { client: client } %>
      <% end %>
      <div class="sign-promise-single-page mx-5">
        <h1 style="font-size: 20px">GRUPO ORVE</h1>
        <h1 class="my-0" style="font-size: 18px">PRESENTE</h1>
        <p class="pt-3" style="font-size: 10px">
          En relación con su solicitud respecto de la información de mi conocimiento sobre la existencia de Dueño Beneficiario o Beneficiario Controlador,
          y en su caso de los datos, documentos o información que permita identificarlo, en términos del Artículo 3 Fracción III de la Ley Federal para la
          Prevención e Identificación de Operaciones con Recursos de Procedencia Ilícita que define:
        </p>
        <p class="italic" style="font-size: 10px">
          “...Beneficiario Controlador, a la persona o grupo de personas que:
        </p>
        <ol type="a">
          <li class="italic" style="font-size: 10px">
            Por medio de otra o de cualquier acto, obtiene el beneficio derivado de éstos y es quien, en última instancia, ejerce los derechos de uso,
            goce, disfrute, aprovechamiento o disposición
            de un bien o servicio, o
          </li>
          <li class="italic" style="font-size: 10px">
            Ejerce el control de aquella persona moral que, en su carácter de cliente o usuario, lleve a cabo actos u operaciones con quien realice Actividades Vulnerables,
            así como las personas por cuenta de quienes celebra alguno de ellos. <br>Se entiende que una persona o grupo de personas controla a una persona moral cuando,
            a través de la titularidad de valores, por contrato o de cualquier otro acto, puede:
            <ol type="I">
              <li class="italic" style="font-size: 10px">
                Imponer,directa o indirectamente, decisiones en las asambleas generales de accionistas, socios u órganos equivalentes, o nombrar o destituir a
                la mayoría de los consejeros, administradores o sus equivalentes;
              </li>
              <li class="italic" style="font-size: 10px">
                Mantener la titularidad de los derechos que permitan, directa o indirectamente, ejercer el voto respecto de más del cincuenta por ciento del
                capital social, o
              </li>
              <li class="italic" style="font-size: 10px">
                Dirigir, directa o indirectamente, la administración, la estrategia o las principales políticas de la misma...”.
              </li>
            </ol>
          </li>
        </ol>
        <p style="font-size: 10px">
          Así como del Artículo 14 del Reglamento de la Ley Federal para la Prevención e Identificación de Operaciones con Recursos de Procedencia Ilícita que establece:
        </p>
        <p class="italic" style="font-size: 10px">
          “...Artículo 14.-Para efectos del cumplimiento a lo previsto en la fracción III del artículo 18 de la Ley, se entenderá como dueño beneficiario al Beneficiario Controlador...”.
        </p>
        <p style="font-size: 10px">
          Bajo protesta de decir verdad, le hago saber que no tengo conocimiento de la existencia de un Beneficiario Controlador o Dueño Beneficiario,
          debido a que es el que suscribe quien en última instancia ejerce los derechos de uso, goce, disfrute o disposición del bien o servicio objeto de la presente operación,
          en los términos de los preceptos arriba mencionados.
        </p>

        <p style="font-size: 10px">
          Sin más por el momento, quedo de Usted.
        </p>

        <h1 class="pt-3" style="font-size: 11px">ATENTAMENTE</h1>
        <div class="row">
          <div class="col-xs-6">
            <div class="col-xs-4"><h1 style="font-size: 11px">Nombre:</h1></div>
            <div class="col-xs-8 text-center">
               <p><%= client&.label %></p>
              <hr style="border-color: black">
            </div>
          </div>
          <div class="col-xs-6">
            <div class="col-xs-3"><h1 style="font-size: 11px">Firma:</h1></div>
            <div class="col-xs-8 text-center">
              <p class="sign-tag-color"><%= client&.sign_tag %></p>
              <hr style="border-color: black">
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
