<%= form_with(model: permission, local: true) do |form| %>
    <% if permission.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(permission.errors.count, "error") %> prohibited this permission from being saved:</h2>

          <ul>
            <% permission.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="row">
        <div class="form-group col-sm-12 col-md-6">
            <%= form.label :name, "Nombre" %>
            <%= form.text_field :name, class: "form-control", required: true %>
        </div>
        <div class="form-group col-sm-12 col-md-6">
            <%= form.label :subject_class, "Clase" %>
            <%= form.select(:subject_class, @classes.map { |k, v| [v, k] }, { include_blank: "Seleccione una clase" }, class: "form-control", required: true) %>
        </div>
        <div class="form-group col-sm-12 col-md-6">
            <%= form.label :action, "Acción" %>
            <%= form.text_field :action, class: "form-control", required: true %>
        </div>
        <div class="form-group col-sm-12 col-md-6">
            <%= form.label :description, "Descripción" %>
            <%= form.text_field :description, class: "form-control" %>
        </div>
        <% if can?(:view_hidden, Role) %>
        <div class="form-group col-sm-12 col-md-6">
            <%= form.label :hidden, "Oculto" %>
            <div>
            <%= form.check_box :hidden,
                                data: {
                                  activate: "toggle",
                                  onstyle: "success",
                                  offstyle: "secondary",
                                  on: fa_icon("eye-slash"),
                                  off: fa_icon("eye"),
                                } %>
            </div>
        </div>
        <% end %>
    </div>
    <div class="actions py-3">
        <%= link_to "Cancelar", permissions_path, class: "btn btn-secondary" %>
        <%= form.submit "Guardar", class: "btn btn-primary" %>
    </div>
<% end %>
