<% if project.present? && project.background.attached? %>
  <% content_for :head do %>
    <style>
      .pdf-new-bg {
        background-image: url('<%= wicked_blob_path(project.background) %>');
      }
    </style>
  <% end %>
<% end %>
<div class="pdf-new-bg px-5">
  <div class="complementary-header float-right">
    <table style="width:100%">
      <tr>
        <td>
          <h1 class="no-letter-spacing text-bold" style="font-size: 30px"><%= @name %></h1>
        </td>
      </tr>
    </table>
  </div>
  <div class="conditions-container">
    <hr class="outer-separator new_format mt-3 p-0">
    <div class="margin-20" align="center">
      <table class="table-infor new_format">
        <colgroup>
          <col span="1" class="table-left-column new_format">
          <col>
        </colgroup>
          <tr>
            <td>Fecha:</td>
            <td><%= @payment.created_at.strftime("%d/%m/%Y") %></td>
          </tr>
          <tr>
            <td>Sr. (A)</td>
            <td><%= @payment.client.label %></td>
          </tr>
          <tr>
            <td>Concepto de:</td>
            <td>
              <%= @payment.installment.label %>
              <br>
              <%= @payment.restructure&.concept_label %>
            </td>
          </tr>
          <tr>
            <td class="text-capitalize"><%= @project_singular %>:</td>
            <td><%= @payment.installment.folder.project.name %></td>
          </tr>
          <tr>
            <td class="text-capitalize"><%= @phase_singular %>:</td>
            <td><%= @payment.installment.folder.phase.name %></td>
          </tr>
          <tr>
            <td class="text-capitalize"><%= @stage_singular %>:</td>
            <td><%= @payment.installment.folder.stage.name %></td>
          </tr>
          <tr>
            <td class="text-capitalize"><%= @lot_singular %>:</td>
            <td><%= @payment.installment.folder.lot.name %></td>
          </tr>
      </table>
    </div>
  </div>
  <table class="mt-5 mb-4" style="width:100%">
    <tr>
      <th>
        <div class="bg-date text-center m-0 pt-2 pb-1">
          <p class="text-bold">DETALLE DEL MOVIMIENTO</p>
        </div>
      </th>
    </tr>
  </table>
  <div class="margin-20" align=center>
    <table class="table-infor new_format">
      <colgroup>
        <col span="1" class="table-left-column new_format">
        <col>
      </colgroup>
      <tr>
        <td>Sucursal:</td>
        <td><%= @payment.branch.name %></td>
      </tr>
    </table>
    <% if @with_signature && @payment.user.present? %>
      <div style="width:33%;margin-left:34%;margin-top:7%;">
        <div class="secondary-bar-sign new_format">
          <p><%= @payment.user.label %><br><%= @payment.user.role.name %></p>
        </div>
      </div>
    <% end %>
    <div class="branches-list">
      <div class="col-xs-12">
        <p class="text-center">
          <i>El presente recibo no sirve para efectos fiscales.</i>
        </p>
      </div>
      <% @branches.each do |branch| %>
        <div class="col-xs-4 branch-element">
          <div class="branch-name"><%= branch.name %></div>
          <div class="branch-address">
            <%= branch.address %> <%= branch.phone %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
