<% if @online_payment_ticket.status == "success" %>
  <div class="text-center d-flex align-items-center justify-content-center">
    <div class="w-50">
      <%= image_tag "successful-payment.png", class: "mx-auto d-block" %>
      <h5 class="m-0 py-3">Pago exitoso</h5>
      <div class="text-center">Tu pago ha sido procesado con éxito
      </div>
    </div>
  </div>
  <% content_for :side do %>
    <div class="text-center">
      <%# <%= online_payment_service_logo(@provider) %1> %>
      <h5>Haz realizado un pago por concepto de: </h5>
      <p><%= @online_payment_ticket.concept %></p>
      <h5>Por un monto total de: </h5>
      <p><%= number_to_currency(@online_payment_ticket.amount) %></p>
    </div>
  <% end %>
<% elsif @online_payment_ticket.status == "failed" %>
  <div class="text-center d-flex align-items-center justify-content-center">
    <div class="w-50">
      <i class="fa fa-times-circle fa-5x text-danger"></i>
      <h5 class="m-0 py-3">Pago rechazado</h5>
      <div class="text-center">Tu pago ha sido declinado.
      </div>
    </div>
  </div>
  <% content_for :side do %>
    <div class="text-center">
      <%= link_to folder_pay_online_path(@online_payment_ticket.folder) do %>
          <div class="text-danger"><h3>Regresar a pagos en línea del expediente</h3></div>
      <% end %>
    </div>
  <% end %>
<% else %>
  <%= render partial: "#{@provider}_ticket" %>
<% end %>
