<div class="pdf-bg">
  <div class="padding-top-80">
    <div class="container p-5 pt-0 m-0">
      <% unless valid_for_folder %>
        <div class="position-relative">
          <div class="water-mark">
            <h1>NO VÁLIDO PARA EXPEDIENTE.</h1>
          </div>
        </div>
      <% end %>
      <div class="title-container">
        <div class="square-point"></div>
        <h1><%= name %></h1>
        <div class="square-point"></div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <section class="info-quotation pb-3 pt-3">
            <div class="row">
              <div class="col-xs-8">
                <% if user_name.present? && user_email.present? %>
                  <div class="col-xs-2 bar-label">
                    <p>Asesor :</p>
                  </div>
                  <div class="col-xs-10 doble-square">
                    <p><%= user_name %> (<%= user_email %>)</p>
                  </div>
                <% end %>
                <% if representative_name.present? && representative_email.present? %>
                  <div class="col-xs-4 bar-label">
                    <p>Representante legal :</p>
                  </div>
                  <div class="col-xs-8 doble-square">
                    <p><%= representative_name %> (<%= representative_email %>)</p>
                  </div>
                <% end %>
                <% if clients.present? %>
                  <% clients.each_with_index do |client, index| %>
                    <div class="col-xs-2 bar-label">
                      <p>Cliente<%= " #{index + 1}" if clients.length > 1 %> :</p>
                    </div>
                    <div class="col-xs-10 doble-square bottom">
                      <p><%= client.label %> (<%= client.email %>)</p>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <div class="col-xs-4">
                <div class="col-xs-4 bar-label">
                  <p>Fecha:</p>
                </div>
                <div class="col-xs-8 doble-square">
                  <p><%= date %></p>
                </div>
                <div class="col-xs-4 bar-label">
                  <p>Plazo:</p>
                </div>
                <div class="col-xs-8 doble-square bottom">
                  <%= total_payments == 1 ? "Contado" : "#{total_payments} meses" %>
                </div>
              </div>
            </div>
          </section>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <section class="lot-quotation">
            <hr class="outer-separator m-0 mb-2">
            <div class="inner-separator">
              <div class="inner-separator_content">
                <div>
                  <p><span class="text-uppercase"><%= project_name %></span></p>
                </div>
              </div>
            </div>
            <hr class="outer-separator mt-2 p-0">
            <div class="margin-20" align=center>
              <table class="table-infor">
                <colgroup>
                  <col span="1" class="table-left-column">
                  <col>
                </colgroup>
                <tr>
                  <td>Folio</td>
                  <td><%= folio %></td>
                </tr>
                <tr>
                  <td>Número de <%= @lot_singular %></td>
                  <td><%= stage_name %> / <%= @lot_singular %> <%= lot_name %></td>
                </tr>
                <tr>
                  <td>Referencia</td>
                  <td><%= lot_reference %></td>
                </tr>
                <tr>
                  <td>Superficie en m<sup>2</sup></td>
                  <td><%= "%.2f" % lot_area %> m<sup>2</sup></td>
                </tr>
                <% if show_price %>
                  <tr>
                    <td>Precio m<sup>2</sup></td>
                    <td><%= number_to_currency(total_with_discount / lot_area) %></td>
                  </tr>
                <% end %>
                <tr>
                  <td>Enganche</td>
                  <td><%= number_to_currency(initial_payment + down_payment) %></td>
                </tr>
                <tr>
                  <td>Precio de lista</td>
                  <td><%= number_to_currency(price) %></td>
                </tr>
                <% if price != total_with_discount %>
                  <tr>
                    <td>Descuento</td>
                    <td><%= total_discount %> %</td>
                  </tr>
                  <tr>
                    <td>Total del <%= @lot_singular %></td>
                    <td><%= number_to_currency(total_with_discount) %></td>
                  </tr>
                <% end %>
                <tr>
                  <td>Plazo</td>
                  <td><%= total_payments %></td>
                </tr>
              </table>
            </div>
            <hr class="outer-separator m-0 mb-2 mt-2">
            <div class="inner-separator mini">
              <div class="inner-separator_content">
              </div>
            </div>
            <hr class="outer-separator mt-2 p-0">
          </section>
        </div>
      </div>
      <div class="margin-20 mt-0" align=center>
        <table class="table-infor single-caption-color ">
          <caption>
            Enganche
          </caption>
          <colgroup>
            <col span="1" class="table-left-column">
            <col>
          </colgroup>
          <% if initial_payment != 0 %>
            <tr>
              <td>Apartado</td>
              <td><b><%= number_to_currency(lock_payment) %></b></td>
            </tr>
            <% if complement_payment > 0 %>
              <tr>
                <td>Complemento de Apartado</td>
                <td><%= number_to_currency(complement_payment) %></td>
              </tr>
            <% end %>
            <tr>
              <td>Saldo enganche</td>
              <td><%= number_to_currency(down_payment) %></td>
            </tr>
          <% end %>
          <tr>
            <td>Total de enganche a pagar</td>
            <td><%= number_to_currency(initial_payment + down_payment) %></td>
          </tr>
          <% if down_payment_finance > 1 %>
            <tr>
              <td>Mensualidad enganche</td>
              <td>
                <b><%= number_to_currency(down_payment_monthly_payments) %></b>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
      <hr class="outer-separator mt-3 p-0">
      <div align=center>
        <table class="table-infor m-0">
          <colgroup>
            <col span="1" class="table-left-column">
            <col>
          </colgroup>
          <tr>
            <td scope="col">Porcentaje</td>
            <td><%= down_payment_percentage %> %</td>
          </tr>
          <tr>
            <td>Enganche mínimo</td>
            <td><%= number_to_currency(min_down_payment) %></td>
          </tr>
          <tr>
            <td>1er pago de Enganche</td>
            <td>
              <b><%= first_down_payment %></b>
            </td>
          </tr>
        </table>
      </div>
      <hr class="outer-separator m-0 mb-2 mt-4">
      <div class="inner-separator mini">
        <div class="inner-separator_content">
        </div>
      </div>
      <hr class="outer-separator mt-2 p-0">
      <div class="row">
        <div class="col-xs-6">
          <table class="table-infor m-0">
            <colgroup>
              <col span="1" class="table-left-column">
              <col>
            </colgroup>
            <tr>
              <td scope="col">Total <%= @lot_singular %></td>
              <td><%= number_to_currency(total_with_discount) %></td>
            </tr>
            <tr>
              <td>1era mensualidad</td>
              <td><%= first_finance %></td>
            </tr>
          </table>
        </div>
        <div class="col-xs-6">
          <% unless has_custom_installments %>
            <table class="table-infor columns-3 m-0" align="right">
              <colgroup>
                <col span="1" class="table-left-column">
              </colgroup>
              <tr>
                <td></td>
                <td>Monto</td>
                <td>Pagos</td>
                <% if show_rate %>
                  <td>Tasa</td>
                <% end %>
              </tr>
              <% interest_payments.each do |payment| %>
                <tr>
                  <td><%= payment[:interest] %></td>
                  <td><%= number_to_currency(payment[:amount]) %></td>
                  <td><%= payment[:payments] %></td>
                  <% if show_rate %>
                    <td><%= "%.2f" % (payment[:rate] * 100) %>%</td>
                  <% end %>
                </tr>
              <% end %>
            </table>
          <% end %>
        </div>
      </div>
      <div class="mt-5">
        <% if !stp_clabe.blank? %>
          <table class="text-center table-infor w-100">
            <colgroup>
              <col class="table-left-column">
            </colgroup>
            <thead>
            <tr>
              <th class="w-25">Banco</th>
              <th class="w-25">Titular</th>
              <th class="w-25">CLABE</th>
            </tr>
            </thead>
            <tr>
              <td class="w-25">STP</td>
              <td class="w-25"><%= enterprise_name %></td>
              <td class="w-25"><%= stp_clabe %></td>
            </tr>
          </table>
        <% elsif bank_accounts != [] %>
          <p class="footer-text"><span class="header_title">Datos Bancarios:</span><br></p>
          <table class="text-center table-infor w-100">
            <colgroup>
              <col class="table-left-column">
            </colgroup>
            <thead>
            <tr>
              <th class="w-25">Banco</th>
              <th class="w-25">Titular</th>
              <th class="w-25">Número de cuenta</th>
              <th class="w-25">CLABE</th>
            </tr>
            </thead>
            <% bank_accounts.each do |bank_account| %>
              <tr>
                <td class="w-25"><%= bank_account.bank %></td>
                <td class="w-25"><%= bank_account.holder %></td>
                <td class="w-25"><%= bank_account.account_number %></td>
                <td class="w-25"><%= bank_account.clabe %></td>
              </tr>
            <% end %>
          </table>
        <% end %>
        <p class="footer-text">
          <span class="header_title">Observaciones:</span><br>
          La superficie final del <%= @lot_singular %> puede variar de acuerdo a las autorizaciones municipales,
          estatales y/o federales de la traza del <span class="text-lowercase"><%= project_singular %></span>,
          lo cual permite realizar reajustes al financiamiento sin penalización para el desarrollador.
          Cotización vigente durante el mes de emisión de este documento.
        </p>
      </div>
      <% if with_signature %>
        <div class="row pt-4">
          <div class="col-xs-4"></div>
          <div class="col-xs-4 ">
              <% if representative_name.present? && representative_email.present? && representative_sign_tag.present? %>
                <p class="sign-tag-color text-center"><%= representative_sign_tag %></p>
              <% else %>
                <p class="sign-tag-color text-center"><%= clients.first&.sign_tag %></p>
              <% end %>
            <div class="secondary-bar-sign">
              <p>Firma de conformidad.</p>
            </div>
          </div>
          <div class="col-xs-4"></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
