<div class="accordion collapse-elements px-4 mb-4" id="accordion-additional">
  <div class="d-flex flex-wrap justify-content-between cursor-pointer accordion-toggle" data-toggle="collapse" data-target="#collapse-section" aria-expanded="false" aria-controls="collapse-section">
    <p class="text-left vertical-align m-0 py-3 color-primary">Filtros</p>
  </div>
  <div class="row collapse show" id="collapse-section" data-parent="#accordion-additional">
    <%= form_tag(@filter_path, method: :get) do %>
      <%= hidden_field_tag :direction, params[:direction] %>
      <%= hidden_field_tag :sort, params[:sort] %>
      <div class="container py-3">
        <div class="row">
          <div class="col-md-6 col-lg-3 mb-3">
            <%= label_tag :name, "Buscar por nombre:" %>
            <%= text_field_tag :name, params[:name], class: "form-control" %>
          </div>
          <div class="col-md-6 col-lg-3 mb-3">
            <%= label_tag :definition, "Buscar por definición:" %>
            <%= text_field_tag :definition, params[:definition], class: "form-control" %>
          </div>

          <div class="col-md-6 col-lg-3 mb-3">
            <%= label_tag :role, "Buscar por rol:" %>
            <select id="role" name="role" class="form-control">
              <option value="">Todos</option>
              <% @signers.each do |signer| %>
                <option <%= "selected" if params[:role] == signer.role %> value="<%= signer.role %>"><%= signer.role %> </option>
              <% end %>
            </select>
          </div>

          <div class="col-md-6 col-lg-3 mb-3">
            <%= label_tag :company, "Buscar por empresa:" %>
            <select id="company" name="company" class="form-control">
              <option value="">Todos</option>
              <% @signers.each do |signer| %>
                <option <%= "selected" if params[:company] == signer.company %> value="<%= signer.company %>"><%= signer.company %> </option>
              <% end %>
            </select>
          </div>

          <div class="col-md-12 col-lg-12 text-right">
            <%= button_tag(type: "submit", class: "btn btn-primary") do %>
              <i class="fa fa-search" aria-hidden="true"></i> Buscar
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
