<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Rechazar Archivo</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <%= form_with(local: true, url: route, method: :patch, data: { remote: true }) do |f| %>
  <%= f.hidden_field :key, value: params[:key] if params[:key].present? %>

    <div class="form-check mb-3">
      <div class="row">
        <div class="col-12 vertical-align">
          <%= f.label :comment, "¿Por qué se esta rechazando este archivo?" %>
        </div>
        <div class="col-12">
          <%= f.text_field :comment, class: "form-control", required: true %>
        </div>
      </div>
    </div>
    <div class="modal-footer pt-2">
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      <%= f.submit "Guardar", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
