<div class="tab-pane fade show active" id="folder-files" role="tabpanel" aria-labelledby="nav-home-tab">
  <div class="accordion collapse-elements px-4 mb-4" id="accordion-additional">
    <div class="d-flex flex-wrap justify-content-between cursor-pointer accordion-toggle" data-toggle="collapse" data-target="#collapse-section" aria-expanded="false" aria-controls="collapse-section">
      <p class="text-left vertical-align m-0 py-3 color-primary">Filtros</p>
    </div>
    <div class="row collapse show" id="collapse-section" data-parent="#accordion-additional">
      <%= form_tag(file_approvals_path(type: FileApproval::TYPE[:USER]), method: :get) do %>
        <%= hidden_field_tag :direction, params[:direction] %>
        <%= hidden_field_tag :sort, params[:sort] %>
        <div class="container py-3">
          <div class="row">
            <div class="col-md-6 col-lg-3 mb-3">
              <%= label_tag :status, "Buscar por estado:" %>
              <%= select_tag :status, options_for_select([["Revisión", 0], ["Rechazado", 1], ["Aprobado", 2]], params[:tab] == "User" ? params[:status] : nil),
                            { include_blank: "Todos", class: "form-control" } %>
            </div>
            <div class="col-md-6 col-lg-3 mb-3">
              <%= label_tag :status, "Buscar por sucursal:" %>
              <%= select_tag :branch, options_from_collection_for_select(@branches, :id, :name, params[:tab] == "User" ? params["branch"] : nil), class: "form-control", include_blank: "Selecciona una sucursal" %>
            </div>
            <div class="col-md-6 col-lg-3 mb-3">
              <%= label_tag :name, "Buscar por nombre:" %>
              <%= text_field_tag :name, params[:name], class: "form-control" %>
            </div>
            <div class="col-md-6 col-lg-3 mb-3">
              <%= label_tag :email, "Buscar por correo:" %>
              <%= text_field_tag :email, params[:email], class: "form-control" %>
            </div>
            <div class="col-md-12 col-lg-12 text-right">
              <%= button_tag(type: "submit", class: "btn btn-primary") do %>
                <i class="fa fa-search" aria-hidden="true"></i> Buscar
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
