<div class="accordion collapse-elements px-4 mb-4 mt-4" id="accordion-commission">
  <div class="d-flex flex-wrap justify-content-between cursor-pointer accordion-toggle" data-toggle="collapse" data-target="#collapse-section" aria-expanded="false" aria-controls="collapse-section">
    <p class="text-left vertical-align m-0 py-3 color-primary">Bitácora</p>
  </div>
  <div class="collapse" id="collapse-section" data-parent="#accordion-commission">
    <div class="widget-body">
      <div class="mt">
        <div class="width-200 float-right">
        </div>
        <p></p>
      </div>
      <% if @logs.count == 0 %>
        <p class="pb-3 m-0">No se tienen registros en la bitácora</p>
      <% end %>
      <div class="log-container">
        <% @logs.each do |log| %>
          <div class="py-2">
            <div class="text-center pb-2"><b><%= log.user.label %></b> editó los siguientes campos el <%= log.date.strftime("%d/%m/%Y") %> a las <%= log.date.strftime("%I:%M%p") %></div>
            <div class="table-container-without-height">
              <table class="table table-bordered background-white">
                <thead>
                <tr>
                  <th width="20%">Campo</th>
                  <th width="40%">Antiguo valor</th>
                  <th width="40%">Nuevo valor</th>
                </tr>
                </thead>
                <tbody>
                <% log.json_parse.each do |key, values| %>
                  <tr>
                    <td><%= get_translate(key) %></td>
                    <td>
                      <% if values[0].present? || key == 'paid' %>
                        <% case key %>
                      <% when 'user_id' %>
                          <%= User.exists?(values[0]) ? User.find(values[0]).label : "No existe la entidad" %>
                        <% when 'paid' %>
                          <%= get_paid(values[0].present?) %>
                        <% else %>
                          <%= values[0] %>
                        <% end %>
                      <% else %>
                        <i>Sin valor</i>
                      <% end %>
                    </td>
                    <td>
                      <% if values[1].present? || key == 'paid' %>
                        <% case key %>
                      <% when 'user_id' %>
                          <%= User.exists?(values[1]) ? User.find(values[1]).label : "No existe la entidad" %>
                        <% when 'paid' %>
                          <%= get_paid(values[1].present?) %>
                        <% else %>
                          <%= values[1] %>
                        <% end %>
                      <% else %>
                        <i>Sin valor</i>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
                </tbody>
              </table>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
