<% if @phase.present? && @project.present? %>
  <% if @phase.blueprint.present? %>
    <h4 class="banner-subtitle text-center"><%= "#{@phase.name}" %></h4>
    <h1 class="banner-title text-center"><%= @project.name %></h1>
    <div class="row">
      <% if @user.present? %>
        <div class="col-sm-12">
          <div class="text-center"><%= image_tag @user.image_nil, class: "img-fluid sidebar-image" %></div>
          <p class="banner-subtitle text-center m-0">Asesor</p>
          <h6 class="text-center m-0"><%= @user.label %></h6>
          <p class="text-center m-0">Teléfono: <b><%= @user.phone %></b></p>
          <p class="text-center m-0">Correo Electrónico: <b><%= @user.email %></b></p>
        </div>
      <% end %>
    </div>
    <hr class="divider">

    <%= render partial: "blueprint_with_stages", locals: { project: @project, phase: @phase, stages: @stages, extras: @extras, user: @user } %>

    <p class="mt-5 mb-3 color-primary text-center"><span class="color-gray"><%= t("app.auth.copy", brand: @full_company_name) %></span> | <%= link_to t("app.auth.privacy_policy"), @privacy_policy %></p>

    <!--Modals-->
    <div class="modal fade" id="chepina-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="lot-title"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <img id="chepina" src="" alt="" class="img-fluid">
          </div>
          <div class="modal-footer text-center">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
  <% else %>
    <div class="py-5">
      <p class="text-center h5 leyend mb-5">
        Esta <%= @project.phase_entity_name %> aún no cuenta con un plano disponible.
      </p>
    </div>
  <% end %>
<% end %>

<style>
  .availability [data-id] {
    cursor: pointer;
  }
</style>
