<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h1 class="banner-title vertical-align p-0 m-0"><%= @lot_plural %></h1>
    </div>
    <div class="col-sm-12 col-md-6 flex-middle-right">
      <ol class="breadcrumb ol-projects">
        <li class="breadcrumb-item"><%= link_to "Dashboard", root_path %></li>
        <li class="breadcrumb-item"><%= link_to @lot_plural, project_phase_stage_lots_path(@project, @phase, @stage) %></li>
        <li class="breadcrumb-item active" aria-current="page">Nuevo <%= @lot_singular %></li>
      </ol>
    </div>
  </div>
</div>
<div class="container">
  <hr class="divider">
</div>
<div class="container">
  <%= render "form", lot: @lot %>
</div>
