<div class="container">
<div class="row">
  <div class="col-sm-12 col-md-6">
    <h1 class="banner-title vertical-align p-0 m-0">Sección de Documentos</h1>
  </div>
  <div class="col-sm-12 col-md-6 flex-middle-right">
    <%= link_to "Regresar", catalogs_path, class: "btn btn-outline-secondary mr-2" %>
    <%= link_to("Nuevo Sección de Documentos", new_document_section_path, class: "btn btn-primary") if can?(:create, DocumentSection) %>
  </div>
</div>

<hr class="divider">

<% if @document_sections.empty? %>
  <div class="py-5">
    <p class="text-center h5 leyend mb-5">
      No se ha encontrado secciones.
    </p>
  </div>
<% else %>
  <div class="table-container-without-height">
    <table class="table table-hover tablesaw tablesaw-stack" data-tablesaw-mode="stack">
      <thead>
      <tr>
        <th>Nombre</th>
        <th></th>
      </tr>
      </thead>

      <tbody class="<%= "sortable" if can?(:sort, DocumentSection) %>">
      <% @document_sections.each do |document_section| %>
        <%= tag.tr("", id: "#{document_section.sortable_id if can?(:sort, DocumentSection)}") do %>
          <td class="align-middle">
            <%= tag.i("", class: "fa fa-bars mr-2 text-secondary", aria: { hidden: "true" }) if can?(:sort, DocumentSection) %>
            <%= document_section.name %>
          </td>
          <td class="text-center">
            <%= link_to(fa_icon("edit"), edit_document_section_path(document_section), class: "table-link", data: { toggle: "tooltip" }, title: "Editar") if can?(:update, DocumentSection) %>
            <%= link_to(fa_icon("trash"), document_section_path(document_section), class: "table-link", method: :delete, data: { toggle: "tooltip", confirm: "¿Estás seguro?" }, title: "Eliminar") if can?(:destroy, DocumentSection) %>
          </td>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
  <%= will_paginate(@document_sections, renderer: WillPaginate::ActionView::LinkRenderer, previous_label: "Anterior", next_label: "Siguiente") %>
  <div class="text-center mt-3">
    <div class="w-25 d-inline-block">
      Mostrando <%= select_tag :per_page, options_for_select([5, 10, 20, 50, 100], @per_page),
                               onchange: "if(this.value){window.location='?per_page='+this.value;}" %> por página
    </div>
  </div>
<% end %>
</div>
