<div style="padding-top: 100px">
  <div class="header-title">
    <h1 style="font-size:16px">ANEXO PLD PERSONA FÍSICA</h1>
    <h1 style="font-size:16px">RESIDENTE EN TERRITORIO NACIONAL</h1>
    <h3 class="pt-3" style="font-size:15px">DATOS REQUERIDOS DEL CLIENTE O USUARIO</h3>

    <div class="purchase_promise container pl-5 pr-5" style="font-size: 12px">
      <div class="row align-items-center">
        <div class="col-xs-12 text-left m-0 p-2">
          Estimado cliente le solicitamos muy amablemente brindarnos los siguientes datos:
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4 py-0 m-0">
          <div class="single-page-purchase_promise-input"><%= client.first_surname %></div>
          <div class="pt-1"><h1 style="font-size: 12px">APELLIDO PATERNO</h1></div>
        </div>
        <div class="col-xs-4 py-0 m-0">
          <div class="single-page-purchase_promise-input"><%= client.second_surname %></div>
          <div class="pt-1"><h1 style="font-size: 12px">APELLIDO MATERNO</h1></div>
        </div>
        <div class="col-xs-4 py-0 m-0">
          <div class="single-page-purchase_promise-input"><%= client.name %></div>
          <div class="pt-1"><h1 style="font-size: 12px">NOMBRE(S)</h1></div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-3 single-page-purchase_promise-title">
          <h1>FECHA DE NACIMIENTO</h1>
        </div>
        <div class="col-xs-9 m-0">
          <div class="single-page-purchase_promise-input">
            <%= client.physical_client&.birthdate %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3 single-page-purchase_promise-title">
          <h1>LUGAR DE NACIMIENTO</h1>
        </div>
        <div class="col-xs-3 m-0">
          <div class="single-page-purchase_promise-input">
            <%= client.physical_client&.place_birth %>
          </div>
        </div>
        <div class="col-xs-2 single-page-purchase_promise-title">
          <h1>NACIONALIDAD</h1>
        </div>
        <div class="col-xs-4 m-0">
          <div class="single-page-purchase_promise-input">
            <%= client.physical_client&.nationality %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3 single-page-purchase_promise-title">
            <h1 style="font-size: 12px">OCUPACIÓN</h1>
        </div>
        <div class="col-xs-9 m-0">
          <div class="single-page-purchase_promise-input">
            <%= client.physical_client&.occupation %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6 my-0 py-0">
          <div class="row">
            <div class="col-xs-8 my-0 py-0">
              <h1>RESIDENTE TEMPORAL</h1>
            </div>
            <div class="col-xs-4 my-0 py-0">
              <div class="square-marker"></div>
            </div>
          </div>
        </div>
        <div class="col-xs-6 my-0 py-0">
          <div class="row">
            <div class="col-xs-8 my-0 py-0">
              <h1>RESIDENTE PERMANENTE</h1>
            </div>
            <div class="col-xs-4 my-0 py-0">
              <div class="square-marker"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3 single-page-purchase_promise-title">
          <h1>DOMICILIO</h1>
        </div>
        <div class="col-xs-9 m-0">
          <div class="single-page-purchase_promise-input">
            <%= client.physical_client&.street %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3 single-page-purchase_promise-title">
          <h1>NO. EXTERIOR</h1>
        </div>
        <div class="col-xs-3 m-0">
          <div class="single-page-purchase_promise-input">
            <%= client.physical_client&.house_number %>
          </div>
        </div>
        <div class="col-xs-3 single-page-purchase_promise-title">
          <h1>NO. INTERIOR</h1>
        </div>
        <div class="col-xs-3 m-0">
          <div class="single-page-purchase_promise-input">
            <%= client.physical_client&.interior_number %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3 single-page-purchase_promise-title">
          <h1>COLONIA</h1>
        </div>
        <div class="col-xs-3 m-0">
          <div class="single-page-purchase_promise-input">
            <%= client.physical_client&.colony %>
          </div>
        </div>
        <div class="col-xs-3 single-page-purchase_promise-title">
          <h1>MUNICIPIO</h1>
        </div>
        <div class="col-xs-3 m-0">
          <div class="single-page-purchase_promise-input">
            <%= client.physical_client&.location %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3 single-page-purchase_promise-title">
          <h1>CIUDAD/POBLACIÓN</h1>
        </div>
        <div class="col-xs-3 m-0">
          <div class="single-page-purchase_promise-input">
            <%= client.physical_client&.city %>
          </div>
        </div>
        <div class="col-xs-3 single-page-purchase_promise-title">
          <h1>PAÍS</h1>
        </div>
        <div class="col-xs-3 m-0">
          <div class="single-page-purchase_promise-input">
            <%= client.physical_client&.country %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3 single-page-purchase_promise-title">
            <h1>CÓDIGO POSTAL</h1>
        </div>
        <div class="col-xs-3 m-0">
          <div class="single-page-purchase_promise-input">
            <%= client.physical_client&.postal_code %>
          </div>
        </div>
        <div class="col-xs-3 single-page-purchase_promise-title single-page-purchase_promise-title">
          <h1><%= t("activerecord.attributes.client.main_phone").upcase %></h1>
        </div>
        <div class="col-xs-3 m-0">
          <div class="single-page-purchase_promise-input">
            <%= client.formatted_main_phone %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3 single-page-purchase_promise-title">
          <h1><%= t("activerecord.attributes.client.optional_phone").upcase %></h1>
        </div>
        <div class="col-xs-3 m-0">
          <div class="single-page-purchase_promise-input">
            <%= client.formatted_optional_phone %>
          </div>
        </div>
        <div class="col-xs-2 single-page-purchase_promise-title">
          <h1>CURP</h1>
        </div>
        <div class="col-xs-4 m-0">
          <div class="single-page-purchase_promise-input">
            <%= client.physical_client&.curp %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3 single-page-purchase_promise-title">
          <h1>RFC</h1>
        </div>
        <div class="col-xs-3 m-0">
          <div class="single-page-purchase_promise-input">
            <%= client.physical_client&.rfc %>
          </div>
        </div>
        <div class="col-xs-3 single-page-purchase_promise-title">
          <h1><%= t("activerecord.attributes.physical_client.identification_type").upcase %></h1>
        </div>
        <div class="col-xs-3 m-0">
          <div class="single-page-purchase_promise-input">
            <%= client.physical_client&.identification_type&.name %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-3 single-page-purchase_promise-title">
          <h1>AUTORIDAD QUE LA EMITE</h1>
        </div>
        <div class="col-xs-3 m-0">
          <div class="single-page-purchase_promise-input">
            <%= client.physical_client&.identification_type&.institution %>
          </div>
        </div>
        <div class="col-xs-3 single-page-purchase_promise-title">
          <div class="text-left">
            <h1>VIGENCIA</h1>
          </div>
        </div>
        <div class="col-xs-3 m-0">
          <div class="single-page-purchase_promise-input">
            <%= client.physical_client&.validity_identification %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
